@font-face {
  font-family: 'Cardo';
  font-style: normal;
  src: url('../fonts/Cardo-regular/Cardo-regular.eot');
  src: local('Cardo'),
       local('Cardo-regular'),
       url('../fonts/Cardo-regular/Cardo-regular.woff2') format('woff2'),
       url('../fonts/Cardo-regular/Cardo-regular.woff') format('woff'),
       url('../fonts/Cardo-regular/Cardo-regular.ttf') format('truetype'),
       url('../fonts/Cardo-regular/Cardo-regular.svg#Cardo') format('svg');
}


body {
  font-family: 'Cardo', serif;
  font-size: 16px;
  background-image: url(../images/paper.png);
  background-repeat: repeat;
  text-align: center;
}

div.content {
  width: 90%;
  margin: 0px auto;
  height: inherit; 
  padding: 15px;
}

h1 {
  font-size: 2.8em;
  font-weight: 400;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

h1 a {
  text-decoration: none;
  color: black;
}

div.header {
  border-bottom: 1.75px #5E5E5E solid;
  padding-bottom: 30px;
  margin-bottom: 20px;
  text-align: center;
}

div.header p {
  margin: 0px auto;
}

div.header a {
  text-decoration: none;
  color: black;
  font-size: 1em;
}

div.header span.current {
  border-bottom: 1.75px #5e5E5e solid;
  padding-bottom: 0.15em;
}

span.nav {
  margin: 0em 1em;
}


h2 {
  font-size: 2.3em;
  font-weight: 200;
  margin: 2.3em 0em 1em 0em;
}

h2#first {
  margin-top: 1.3em;
}

h3 {
  font-size: 1.6em;
  font-weight: 200;
  margin: 2em 0em 1em 0em;
}


div.bookinfo {
  margin: 60px 0px 45px 0px;
}

div.bookinfo h4 {
  font-size: 1.2em;
  font-weight: 400;
  margin: 20px auto 10px auto;
}

div.bookinfo img {
  border: 0.75px #A9A9A9 solid;
  box-shadow: 5px 5px 0px #A9A9A9;
}

div.bookinfo p {
  margin: 0px auto;
  padding: 0px;
  line-height: 1.5em;
  font-size: 14px;
}

div.bookinfo h4, div.bookinfo p, div.bookinfo img {
  width: 75%;
  max-width: 180px;  
}

h4.nav {
  color: #888;
}

h4.nav span.divider {
  display: inline block;
  padding: 0px 20px;
  color: black;
}

h4.nav a {
  color: black;
  text-decoration: none;
  font-weight: normal;
}

#footer {
  font-size: 1.2em;
  width: 100%;
  padding: 30px 0px;
  margin-top: 30px;
  border-top: 1.75px #5E5E5E solid;
}
