{% extends "basic-layout.html" %}

   	{% block maincontent %}
      <h2>I read, but didn't finish</h2>
      {% if books %}
          {% for bookdata in books %}
            <div class="bookinfo">
                  <img src="{{ bookdata.image_url }}"/>
                  <h4>{{ bookdata.title }}</h4><p>{{ bookdata.isbn }}<br>Abandoned on {{ bookdata.end_date }}</p>
            </div>
          {% endfor %}
      {% else %}
        <p>You haven't abandoned any books.</p>
      {% endif %}
    {% endblock %}
      
	{% block navigation %}
    <div id="footer">
      <p><span class="nav"><a href="/">Reading</a></span><span class="nav"><a href="/finished">Finished</a></span>Abandoned</p>
    </div>
	{% endblock %}