<html>
  <head>
    
    <link type="text/css" rel="stylesheet" href="/static/stylesheets/main.css" />
    <link type="text/css" rel="stylesheet" href="/static/stylesheets/unsemantic-grid-responsive.css" />
    <!-- Start iPhone -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name = "format-detection" content = "telephone=no">
    <!-- <link rel="apple-touch-icon" href="/iphone.png" /> -->
    <!-- End iPhone -->
  </head>
  <body>
  <div class="content">
  <div class="header">
    <h1><a href="/">Shelvd</a></h1>
    <p>
    {% if status != 'unfinished' %}<span class="nav"><a href="/">Reading</a>{% else %}<span class="nav current">Reading{% endif %}</span>
    {% if status != 'finished' %}<span class="nav"><a href="/finished" class="active">Finished</a>{% else %}<span class="nav current">Finished{% endif %}</span>
    {% if status != 'abandoned' %}<span class="nav"><a href="/abandoned" class="active">Abandoned</a>{% else %}<span class="nav current">Abandoned{% endif %}</span>{% if status != 'stats' %}<span class="nav"><a href="/stats" class="active">Stats</a>{% else %}<span class="nav current">Stats{% endif %}</span>
    </p>
  </div>
    
    {% block maincontent %}
    {% endblock %}

  </div>
  </body>
</html>