{% extends "basic-layout.html" %}

   	{% block maincontent %}
      {% for year, booklist in books.items %}
        <div class='booklist'>
        <h2>Read in {{ year }}</h2>
          {% if booklist %}
                {% for bookdata in booklist %}
                  <div class="bookinfo">
                    <img src="{{ bookdata.image_url }}"/>
                    <h4>{{ bookdata.title }}</h4><p>{{ bookdata.isbn }}<br>Finished on {{ bookdata.end_date }}</p>
                  </div>
                {% endfor %}
          {% else %}
            <p>You haven't finished any books.</p>
          {% endif %}
        </div>
      {% endfor %}
    {% endblock %}
      
	{% block navigation %}
    <div id="footer">
      <p><span class="nav"><a href="/">Reading</a></span><span class="nav">Finished</span><a href="/abandoned">Abandoned</a></p>
    </div>
	{% endblock %}
