{% extends "basic-layout.html" %}

   	{% block maincontent %}
          <h2>I'm reading</h2>
          {% if books %}
              {% for bookdata in books %}
                <div class="bookinfo">
                  <img src="{{ bookdata.image_url }}"/>
                  <h4>{{ bookdata.title }}</h4>
                  <p>ID: {{ bookdata.identifier }}<br>Read to page {{ bookdata.page }}</p>
                </div>
              {% endfor %}
          {% else %}
            <p>You're not reading any books at the moment.</p>
          {% endif %}
    {% endblock %}
      
	{% block navigation %}
    <div id="footer">
      <p><span class="nav">Reading</span><span class="nav"><a href="/finished">Finished</a></span><a href="/abandoned">Abandoned<a></p>
    </div>
	{% endblock %}